* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #0d6efd;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

section {
    padding: 50px;
    text-align: center;
}

.skills-list span {
    display: inline-block;
    background: #0d6efd;
    color: white;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
}

.project-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
